header .logo {
    display: inline-block;
}

header {
    height:80px;
    background-color:white;
    opacity: 90%;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.15);
    position: fixed;
    top : 0;
    left : 0;
    width: 100%;
    
}

header .container{
    justify-content: space-between;
    align-items: center;
    /* PADDING: 30PX 0; */
    display: flex;
    height : 100%;
}

header nav {
    display: inline-block;
}

ul {
    margin:0;
    padding:0;

}

header nav ul li {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    margin-right: 24px;
}

header nav ul li a {
    color:black;
    opacity: 100%;
}

header .logo a {
    text-decoration: none;
    color : black;
}

header .logo {
    font-family: 'Permanent Marker', cursive;
    font-size : 40px;
        opacity: 100%;
        text-decoration: none;
        color:Black;
}

.container {
    max-width: 1440px;
    margin:auto;
    padding : 0 16px;
}

body {
    min-height: 1400px;
    background-repeat: no-repeat;
}

div.redes ul {
    padding-top:1150px;
    font-family: 'Bebas Neue', cursive;
    font-size:30px;
    color:Black;
    text-decoration: none;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
